@font-face{
	src:url(../fonts/OpenSans-Light.ttf);
	font-family: Daniel St sanserif;
}
h1,h2,h3,h4,h5,h6,p,input,a,button{
	font-family: Daniel St sanserif !important;
}
#main{
	background: linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.55)),url(../img/photo-1473621038790-b778b4750efe.jpg);
	height: 500px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #FFF;
	width: 100%;
	

}
#main-gallery{
	background: linear-gradient(rgba(0,0,0,0.63),rgba(0,0,0,0.63)),url(../img/services-bg.jpg);
	height: 400px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #FFF;
	width: 100%;
	

}
.yut-new a {
    color: #fff;
    text-decoration: none;
}
.gallery {
	margin-top: 4%;

}

.gallery p {
	margin-bottom: 3%;
}
.gallery img{
	margin-top: 6%;
}
.welcome{
	padding-top: 7%;
}
.welcome h1{
	font-size: 46px;
	font-weight: 100;
}
.welcome p {
    letter-spacing: .3em;
    font-size: 14px;
}
.welcome-gallery{
	padding-top: 7%;
}
.welcome-gallery h1{
	font-size: 40px;
	font-weight: 100;
}
.welcome-gallery p {
    letter-spacing: .3em;
    font-size: 14px;
}
.button{
	text-align: center;
}
.button{animation: ease;}
.col-md-4 h3{
	margin-bottom: 500px;
}
.node{
	text-align: center;
	margin-bottom: 59px;
	margin-top: 100px;
	font-weight:100px;

	
}
.yut-new button {
    padding: 7px 45px;
    margin-top: 10px;
    border-radius: 1px;
}
.yut-new button:nth-of-type(1) {
    background: transparent;
    
}
.img-thumbnail {
    width: 120px;
    margin-bottom: 10px;
    border-radius: 50%;
    height: 120px;
    /* float: right; */
    border: none;
    margin: 0px 0px 10px 10px;
    /* clear: right; */
}
.money {
    margin-top: 30px;
    font-size: 15px;
    margin-bottom: 42%;
}
/*@supports (background: red){
	body{
		background: red !important;
	}
}*/
@media (max-width: 585px){
	body{
		background: red !important;
	}
}
.dope{
	margin-top: 30px;
	font-size: 15px;
}
.fresh{
	margin-top: 30px;
	font-size: 15px;
}
.enter{
	font-weight: 100px;
	color: orange;
}
.yut{
	transition: all 1.0s ease;
	padding: 8px 50px;
	transform: matrix(1,0.3,0,1,0,0);
}
.yut:hover{
	background-color: black!important;
	border-radius: 1px 50px 50px 1px;
	margin-top: 9%;
}
.yut:active{
	background: pink !important;
}
.yut:focus:{ background:blue !important;

}
.mode{
	margin-bottom: 19px;
	padding: 13px;
}

.navbar-default{
	background-color: transparent; !important;
	border-color:transparent;
}
.navbar-default .navbar-nav > li > a {
    color: #FFF !important;
}
.navbar-default .navbar-brand {
    color: orange !important;
}
h2{
	clear: right;
}
.clearfix::after{
	content: ;
	clear: both;
	display: table;

}
.yut{
	animation-name: poman;
	animation-duration:2s;
	animation-iteration-count:6;
	filter:blur(100%);

}
.well.custom-well button {
    padding: 7px 45px;
    border-radius: 1px;
    margin-top: 5%;
    border: none;
        margin: 14px 13px 30px;
}
.well.custom-well {
    border: 0px !important;
    box-shadow: 0px 2px 15px rgba(0,0,0,0.20);
    border-radius: 1px;
    margin-top: 5%;
    background: #fff;
    padding: 0px;
}
@keyframes poman{
	0%{background-color: red; left: 0px; top: 0px;}
	30%{background-color: pink; left: 40px; top: 0px;}
	60%{background-color: chocolate; left: 200px; top: 200px;}
	90%{background-color: gold; left: 0px; top: 200px;}
}
.img-100 img{
	height: 150px;
	width: 100%;
}
.img-100 p {
    padding: 0px 17px;
}
.fo{
	image-rendering: auto;
}
.brand-bg a.facebook i {
    background: #3280e7;
}
#footer{
	background-color: black;
	border:5000px;
	border-top:2px solid red;
	border-top: red;
}
.head{
	text-align: center;
	padding: 10px;
	margin-top: 
}